body{
background-color: rgb(229, 228, 211);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  font-size: 50px;
  font-weight:800;
  margin-bottom: 50px;
}
h1,h2,h3,#recipe-category{
  text-align: center;
}
a,a:visited{
  text-decoration: none;
  color:rgb(29, 29, 136)
}

a:hover{
  color:rgb(8, 124, 124)
}
#recipe-category li{
  font-weight: 800;
  font-size: 16px;
  margin:0.5rem 0 0 0 ;
  list-style: none;
}